<br>
<div class = "columns is-centered">
  <h1 class = "has-text-link is-size-3">Feedback</h1>
 </div> 
 <div class = "columns is-centered">
    <% @presentation.reviews.each do |rev| %>
     <% if rev.user.admin? && current_user.id = @presentation.user_id %>
      <p>Comments: <%= rev.comments %>
      Grade: <%= rev.grade %>
       Submitted by: <%= rev.user.email %></p>
    <% end %>
  <% end%>
</div>
<div class= "columns is-centered">
  <div>
     <%= link_to "Back to presentations", presentations_path, class: "button is-light is-link is-small" %>
  </div>
</div>